html,
body {
  padding: 0;
  margin: 0;
}
* {
  box-sizing: border-box;
  font-family: "Lucida Sans", sans-serif;
}
body {
  height: 100vh;
  background-color: cadetblue;
  display: flex;
  justify-content: center;
  align-items: center;
}
